@import url(mixin.scss);

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    display: flex;
    justify-content: center;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(153, 191, 248, 0.8);
    &.dark-mode {
      background-color: black; // Couleur de fond du body en mode sombre
    }
  }
  
  .container {
    &.dark-mode {
      background-color: rgb(247, 239, 239); // Couleur de fond du container en mode sombre
    }
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid rgba(87, 134, 204, 0.5);
  box-shadow: 3px 3px 3px rgb(55, 55, 55, 0.5);
  background-color: rgba(106, 159, 238, 0.5);
  margin-top: 75px;
  padding: 50px;
  border-radius: 25px;
  width: fit-content;
  min-width: 60%;
}

header{
  display: flex;
  flex-direction: column;
  height: fit-content;

  .switch {
    position: relative;
    width: 130px;
    height: 50px;
    margin: 0px;
    appearance: none;
    -webkit-appearance: none;
    background-color: rgb(4,52,73);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    transition: background-image .7s ease-in-out;
    outline: none;
    cursor: pointer;
    overflow: hidden;
  }
  
  .switch:checked {
    background-color: rgb(0, 195, 255);
    background-size: cover;
    transition: background-image 1s ease-in-out;
  }
  
  .switch:after {
    content: '';
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 2px;
    top: 2px;
    transform: translateX(0px);
    animation: off .7s forwards cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
  }
  
  @keyframes off {
    0% {
      transform: translateX(80px);
      width: 46px;
    }
  
    50% {
      width: 75px;
      border-radius: 25px;
    }
  
    100% {
      transform: translateX(0px);
      width: 46px;
    }
  }
  
  .switch:checked:after {
    animation: on .7s forwards cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
  }
  
  @keyframes on {
    0% {
      transform: translateX(0px);
      width: 46px;
    }
  
    50% {
      width: 75px;
      border-radius: 25px;
    }
  
    100% {
      transform: translateX(80px);
      width: 46px;
    }
  }
  
  .switch:checked:before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 5px;
    transform-origin: 53px 10px;
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
    animation: sun .7s forwards ease;
  }
  
  @keyframes sun {
    0% {
      transform: rotate(170deg);
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
    }
  
    50% {
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
    }
  
    90% {
      background-color: #f5daaa;
      box-shadow: 0px 0px 10px #f5deb4,
      0px 0px 20px #f5deb4,
      0px 0px 30px #f5deb4,
       inset 0px 0px 2px #efd3a3;
      filter: blur(1px);
    }
  
    100% {
      transform: rotate(0deg);
      background-color: #f5daaa;
      box-shadow: 0px 0px 10px #f5deb4,
      0px 0px 20px #f5deb4,
      0px 0px 30px #f5deb4,
       inset 0px 0px 2px #efd3a3;
      filter: blur(1px);
    }
  }
  
  .switch:before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 5px;
    filter: blur(1px);
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4,
  0px 0px 20px #f5deb4,
  0px 0px 30px #f5deb4,
   inset 0px 0px 2px #efd3a3;
    transform-origin: 53px 10px;
    animation: moon .7s forwards ease;
  }
  
  @keyframes moon {
    0% {
      transform: rotate(0deg);
      filter: blur(1px);
    }
  
    50% {
      filter: blur(1px);
    }
  
    90% {
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
    }
  
    100% {
      transform: rotate(170deg);
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
    }
  }
  

h1{
  align-self: center;
  width: 300px;
  margin-bottom: 10px;
  
  img{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px rgb(55, 55, 55, 0.5);
  }
}

button{
  align-self: center;
  cursor: pointer;
  background-color: rgba(81, 135, 218, 0.5);
  border-radius: 5px;
  width: 40px;
  border: 0px;
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
  box-shadow: 2px 2px 2px rgb(55, 55, 55, 0.5);
}
#all-events{
  margin-top: 10px;
  width: fit-content;
}

#all-events{
  margin-top: 10px;
  width: fit-content;
}
}

.separator{
  border: 1px solid white;
  width: 100%;
  height: 0;
  margin-top: 30px;
}

.modal{
  position: relative;
  z-index: 1;
  height: fit-content;
  display: none;
  flex-direction: column;
  margin-top: 10px;
  background-color: rgba(167, 200, 248);
  border: 3px solid rgba(87, 134, 204, 0.5);
  border-radius: 15px;
  padding: 10px;
  gap: 5px;

  span{
    align-self: flex-end;
    text-align: center;
    background-color: rgba(81, 135, 218, 0.5);
    border-radius: 5px;
    border: 0px;
    color: white;
    font-size: 1rem;
    font-weight: 900;
    box-shadow: 2px 2px 2px rgb(55, 55, 55, 0.5);
    width: 20px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  input{
    width: 100%;
  }

  button{
    align-self: center;
    margin-top: 10px;
  }

  .list-container{
    display: none;
    flex-direction: column;
    margin-top: 10px;
    background-color: rgba(167, 200, 248);
    border: 3px solid rgba(87, 134, 204, 0.5);
    border-radius: 15px;
    padding: 10px;
    gap: 5px;
  }


}


.list-container{
  display: none;
  flex-direction: column;
  margin-top: 10px;
  background-color: rgba(167, 200, 248);
  border: 3px solid rgba(87, 134, 204, 0.5);
  border-radius: 15px;
  padding: 10px;
  gap: 5px;
}

table,
th,
td{
  border: 2px solid black;
  padding: 5px;
}

.date-button{
  width: fit-content;
  font-size: 12px;
}

.newDate{
  margin-top: 5px;
}

form{
  display: flex;
  width: 100%;
  justify-content: center;
}